
html, body {
    height: 100%;
    overflow: auto;
}

body {
    font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    background: #f1f4f6 !important;
}

a, a:hover {
    text-decoration: none;
}

ul, ol, ul li, ol li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.app-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.app-viewport {
    height: 100%;
    position: relative;
}

.list-btn {
    margin-right: 3px;
}

/******************************************/
/****  =Navbar */
.nav-global {
    height: 48px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.global-logo {
    width: 200px;
    margin: 0 auto;
    display: block;
    height: 48px;
    /* background: #404040; */
    background: #555;
}
.global-logo, .global-notice {
    float: left;
}

.nav-global .items-inner {
    height: 48px;
    -webkit-box-shadow: 0 -1px 8px 1px #bbb;
    -moz-box-shadow: 0 -1px 8px 1px #bbb;
    box-shadow: 0 -1px 8px 1px #bbb;
    margin-left: 200px;
}
.global-items {
    padding-right: 15px;
}
.global-items {
    float: right;
}
.global-items .nav-item {
    display: inline-block;
    border-left: 1px solid #eee;
    height: 48px;
    vertical-align: middle;
    position: relative;
}
.global-items .nav-item .nav-item-inner {
    display: block;
    padding: 0 20px;
    height: 48px;
    position: relative;
}
.global-items .nav-item .nav-item-inner:hover {
    background: #f8f8f8;
}

.global-items .nav-item .nav-text {
    color: #333;
    padding-left: 10px;
    line-height: 48px;
    vertical-align: middle;
}



/******************************************/
/**** Menu */
.nav-menu {
    width: 200px;
    /* background: #22222c; */
    /* background: #FAFAFA; */
    background: #404040;
    /* border-right: 1px solid #d9d9d9; */
    height: 100%;
    float: left;
    /* padding-top: 48px; */
    padding-top: 54px;
    position: fixed;
    z-index: 90;
    overflow-y: auto;
}

.nav-menu-inner {
    padding-bottom: 96px;
}

/******************************************/
/****  [Content] */
.content {
    color: #2a2d2e;
    background: #f1f4f6;
    position: relative;
    margin-left: 200px;
    border-top: 1px solid #ddd;
    padding-top: 48px;
}

.content .wrapper {
    height: 100%;
    margin: 0 20px;
    padding-bottom: 40px;
}

/* breadcrumbs */
.topbar {
    overflow: hidden;
    margin: 10px 0;
}
.topbar .breadcrumbs {
    float: left;
}
.topbar .level {
    font-size: 12px;
    color: #777;
    display: inline-block;
    padding-right: 5px;
    text-transform: uppercase;
}

/* Page introduction */
.page-intro {
    background: #e4eaec;
    overflow: hidden;
    margin: 10px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: #58666e;
}
.page-intro .lead {
    margin: 16px 20px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 5px 5px 0 0;
}


/* Page tabs */
.page-tabs {
    margin-top: 15px;
    padding: 0;
}

/* Panel introduction */
.pane-wrapper {
    background: #fff;
    margin-top: 0px;
    padding: 15px 15px 20px 15px;
    border-radius: 0 0 5px 5px;
}
.pane-block {
    width: 600px;
}
.pane-intro {
    color: #777;
    line-height: 1.5;
    padding: 0;
    margin: 0 0;
}

/* Panel content */
.pane {
    padding: 15px 0 0;
    margin: 0 0 20px;
}

/* The toolbar, usually in panel */
.toolbar {
    position: relative;
    z-index: 4;
    margin: 10px 0;
}



#test {
    height: 1000px;
}
